.page {
  display: flex;
  height: 100vh;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header {
  margin: 0 0 15px;
}

.link:hover {
  color: gray;
}
